    Date: 10:20 Pm Feb. 12th
    Last update: Antonio Funicella
*/

*, :before, :after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
  }
    
h1 {
    text-align: center;
    font-size: 2.5vw;
    margin: 3px;
    padding: 3x;
    font-style: oblique;
}


table {
        border: 3px solid black ;
    }
th {
    border: 3px solid black;
    
}

td {
    border: 3px solid black;
}

#strengths {
    background-color:green;
    color: white;
}

#weaknesses {
    background-color:orange ;
    color: white;}

#opportunities {
    background-color: blue;
    color:white
}

#threats{
    background-color: red;
    color: white;
}

#internal {
background-color:blueviolet;
color: white;
}

#external {
background-color: teal;
color: white;
}
body {
    background-color: ghostwhite
}

header p {
font-family: copperplate;
font-size: 2vw;
color: darkslategray;
font-style: oblique;
}