/* Project: Mansfield Gardens Website Redesign
    Author: Dynamic Design
    Date: 02.13.22
    Last update: 02.13.22
*/

/* Beginning of styles for Creative Brief and SWOT Analysis */

*, :before, :after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    /* font-size: 1.2vw; */
}

body {
    background-color: ghostwhite;
    padding: 20px;
    color: black;
}

header p {
    font-family: copperplate;
    font-size: 30px;
    /* font-size: 2vw; */
    color: darkslategray;
        font-style: oblique;
}
    
h1 {
    text-align: center;
    font-size: 35px;
    /* font-size: 2.5vw; */
    margin: 3px;
    padding: 3px;
    font-style: oblique;
}

h2 {
    font-size: 28px;
    /* font-size: 1.8vw; */
}

table {
    border-collapse: collapse;
    border: 3px solid black;
    overflow: auto;
}

th {
    border: 3px solid black;
    color: white;
    padding: 10px;
}

td {
    border: 3px solid black;
    padding: 15px;
}

td ul {
    padding-bottom: 20px;
}

.strengths {
    background-color: green;
}

.weaknesses {
    background-color: orange ;
}

.opportunities {
    background-color: blue;
}

.threats {
    background-color: red;
}

.internal {
    background-color: blueviolet;
}

.external {
    background-color: teal;
}

/* End of styles for Creative Brief and SWOT Analysis */



/* Beginning of styles for Subcategory Preview component */

.subcat {
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    padding-top: 3rem;
}

.subcat-container {
    background-color: #000;
    width: calc((100% / 3) - 1.5rem);
    margin: 0.7rem; 
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.subcat-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.subcat-img img {
    width: 80%;
    padding: 1rem;
}

.subcat-title {
    
}

.subcat-description {
    padding: 0 2rem;
}

.subcat-button {
    padding: 2rem;
}

.subcat-button a {
    background-color: #fff;
    color: #000;
    border-radius: 0.5rem;
    padding: 1.3rem;
    font-size: 24px; 
    font-weight: bold;
    text-decoration:none;
}

.subcat-button a:hover {
    background-color: #ccc;
}

@media screen and (max-width: 768px){
    .subcat-container {
        width: calc(50% - 1.5rem);
    }
  }
  
  @media screen and (max-width: 500px){
    .subcat {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: flex-start;
    }

    .subcat-container {
        width: 100%;
    }
  }

/* End of styles for Subcategory Preview component */