/* Project: Mansfield Gardens Website Redesign
    Author: Dynamic Design
    Date: 02.13.22
    Last update: 02.13.22
*/


:root{ 
    --col-1: calc((100% / 12) * 1);
    --col-2: calc((100% / 12) * 2);
    --col-3: calc((100% / 12) * 3);
    --col-4: calc((100% / 12) * 4);
    --col-5: calc((100% / 12) * 5);
    --col-6: calc((100% / 12) * 6);
    --col-7: calc((100% / 12) * 7);
    --col-8: calc((100% / 12) * 8);
    --col-9: calc((100% / 12) * 9);
    --col-10: calc((100% / 12) * 10);
    --col-11: calc((100% / 12) * 11);
    --col-11: calc((100% / 12) * 12);
}
/* Grid System */
.container-fluid {
  padding-top: 3rem;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-left: -1rem;
  margin-right: -1rem;
}

[class^='col-'] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1 {
  flex: 0 0 var(--col-1);
  max-width: var(--col-1);
}

.col-2 {
  flex: 0 0 var(--col-2);
  max-width: var(--col-2);
}

.col-3 {
  flex: 0 0 var(--col-3);
  max-width: var(--col-3);
}

.col-4 {
  flex: 0 0 var(--col-4);
  max-width: var(--col-4);
}

.col-5 {
  flex: 0 0 var(--col-5);
  max-width: var(--col-5);
}

.col-6 {
  flex: 0 0 var(--col-6);
  max-width: var(--col-6);
}

.col-7 {
  flex: 0 0 var(--col-7);
  max-width: var(--col-7);
}

.col-8 {
  flex: 0 0 var(--col-8);
  max-width: var(--col-8);
}

.col-9 {
  flex: 0 0 var(--col-9);
  max-width: var(--col-9);
}

.col-10 {
  flex: 0 0 var(--col-10);
  max-width: var(--col-10);
}

.col-11 {
  flex: 0 0 var(--col-11);
  max-width: var(--col-11);
}

.col-12 {
  flex: 0 0 var(--col-12);
  max-width: var(--col-12);
}

/* Small Screens = sm */
@media screen and (min-width: 576px){
  .col-sm-1 {
      flex: 0 0 var(--col-1);
      max-width: var(--col-1);
  }

  .col-sm-2 {
      flex: 0 0 var(--col-2);
      max-width: var(--col-2);
  }

  .col-sm-3 {
      flex: 0 0 var(--col-3);
      max-width: var(--col-3);
  }

  .col-sm-4 {
      flex: 0 0 var(--col-4);
      max-width: var(--col-4);
  }

  .col-sm-5 {
      flex: 0 0 var(--col-5);
      max-width: var(--col-5);
  }

  .col-sm-6 {
      flex: 0 0 var(--col-6);
      max-width: var(--col-6);
  }

  .col-sm-7 {
      flex: 0 0 var(--col-7);
      max-width: var(--col-7);
  }

  .col-sm-8 {
      flex: 0 0 var(--col-8);
      max-width: var(--col-8);
  }

  .col-sm-9 {
      flex: 0 0 var(--col-9);
      max-width: var(--col-9);
  }

  .col-sm-10 {
      flex: 0 0 var(--col-10);
      max-width: var(--col-10);
  }

  .col-sm-11 {
      flex: 0 0 var(--col-11);
      max-width: var(--col-11);
  }

  .col-sm-12 {
      flex: 0 0 var(--col-12);
      max-width: var(--col-12);
  }
}

/* Medium Screens = md */
@media screen and (min-width: 768px){
  .col-md-1 {
      flex: 0 0 var(--col-1);
      max-width: var(--col-1);
  }

  .col-md-2 {
      flex: 0 0 var(--col-2);
      max-width: var(--col-2);
  }

  .col-md-3 {
      flex: 0 0 var(--col-3);
      max-width: var(--col-3);
  }

  .col-md-4 {
      flex: 0 0 var(--col-4);
      max-width: var(--col-4);
  }

  .col-md-5 {
      flex: 0 0 var(--col-5);
      max-width: var(--col-5);
  }

  .col-md-6 {
      flex: 0 0 var(--col-6);
      max-width: var(--col-6);
  }

  .col-md-7 {
      flex: 0 0 var(--col-7);
      max-width: var(--col-7);
  }

  .col-md-8 {
      flex: 0 0 var(--col-8);
      max-width: var(--col-8);
  }

  .col-md-9 {
      flex: 0 0 var(--col-9);
      max-width: var(--col-9);
  }

  .col-md-10 {
      flex: 0 0 var(--col-10);
      max-width: var(--col-10);
  }

  .col-md-11 {
      flex: 0 0 var(--col-11);
      max-width: var(--col-11);
  }

  .col-md-12 {
      flex: 0 0 var(--col-12);
      max-width: var(--col-12);
  }
}

/* Large Screens = lg */
@media screen and (min-width: 992px){
  .col-lg-1 {
      flex: 0 0 var(--col-1);
      max-width: var(--col-1);
  }

  .col-lg-2 {
      flex: 0 0 var(--col-2);
      max-width: var(--col-2);
  }

  .col-lg-3 {
      flex: 0 0 var(--col-3);
      max-width: var(--col-3);
  }

  .col-lg-4 {
      flex: 0 0 var(--col-4);
      max-width: var(--col-4);
  }

  .col-lg-5 {
      flex: 0 0 var(--col-5);
      max-width: var(--col-5);
  }

  .col-lg-6 {
      flex: 0 0 var(--col-6);
      max-width: var(--col-6);
  }

  .col-lg-7 {
      flex: 0 0 var(--col-7);
      max-width: var(--col-7);
  }

  .col-lg-8 {
      flex: 0 0 var(--col-8);
      max-width: var(--col-8);
  }

  .col-lg-9 {
      flex: 0 0 var(--col-9);
      max-width: var(--col-9);
  }

  .col-lg-10 {
      flex: 0 0 var(--col-10);
      max-width: var(--col-10);
  }

  .col-lg-11 {
      flex: 0 0 var(--col-11);
      max-width: var(--col-11);
  }

  .col-lg-12 {
      flex: 0 0 var(--col-12);
      max-width: var(--col-12);
  }
}

/* Extra Large Screens = xl */
@media screen and (min-width: 1200px){
  .col-xl-1 {
      flex: 0 0 var(--col-1);
      max-width: var(--col-1);
  }

  .col-xl-2 {
      flex: 0 0 var(--col-2);
      max-width: var(--col-2);
  }

  .col-xl-3 {
      flex: 0 0 var(--col-3);
      max-width: var(--col-3);
  }

  .col-xl-4 {
      flex: 0 0 var(--col-4);
      max-width: var(--col-4);
  }

  .col-xl-5 {
      flex: 0 0 var(--col-5);
      max-width: var(--col-5);
  }

  .col-xl-6 {
      flex: 0 0 var(--col-6);
      max-width: var(--col-6);
  }

  .col-xl-7 {
      flex: 0 0 var(--col-7);
      max-width: var(--col-7);
  }

  .col-xl-8 {
      flex: 0 0 var(--col-8);
      max-width: var(--col-8);
  }

  .col-xl-9 {
      flex: 0 0 var(--col-9);
      max-width: var(--col-9);
  }

  .col-xl-10 {
      flex: 0 0 var(--col-10);
      max-width: var(--col-10);
  }

  .col-xl-11 {
      flex: 0 0 var(--col-11);
      max-width: var(--col-11);
  }

  .col-xl-12 {
      flex: 0 0 var(--col-12);
      max-width: var(--col-12);
  }
}

/* Extra Extra Large Screens = xxl */
@media screen and (min-width: 1400px){
  .col-xxl-1 {
      flex: 0 0 var(--col-1);
      max-width: var(--col-1);
  }

  .col-xxl-2 {
      flex: 0 0 var(--col-2);
      max-width: var(--col-2);
  }

  .col-xxl-3 {
      flex: 0 0 var(--col-3);
      max-width: var(--col-3);
  }

  .col-xxl-4 {
      flex: 0 0 var(--col-4);
      max-width: var(--col-4);
  }

  .col-xxl-5 {
      flex: 0 0 var(--col-5);
      max-width: var(--col-5);
  }

  .col-xxl-6 {
      flex: 0 0 var(--col-6);
      max-width: var(--col-6);
  }

  .col-xxl-7 {
      flex: 0 0 var(--col-7);
      max-width: var(--col-7);
  }

  .col-xxl-8 {
      flex: 0 0 var(--col-8);
      max-width: var(--col-8);
  }

  .col-xxl-9 {
      flex: 0 0 var(--col-9);
      max-width: var(--col-9);
  }

  .col-xxl-10 {
      flex: 0 0 var(--col-10);
      max-width: var(--col-10);
  }

  .col-xxl-11 {
      flex: 0 0 var(--col-11);
      max-width: var(--col-11);
  }

  .col-xxl-12 {
      flex: 0 0 var(--col-12);
      max-width: var(--col-12);
  }
}
/* End of Grid System */

/* Beginning of styles for Creative Brief and SWOT Analysis */

*, :before, :after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    /* font-size: 1.2vw; */
}

body {
    background-color: ghostwhite;
    padding: 20px;
    color: black;
}

header p {
    font-family: copperplate;
    font-size: 30px;
    /* font-size: 2vw; */
    color: darkslategray;
        font-style: oblique;
}
    
h1 {
    text-align: center;
    font-size: 35px;
    /* font-size: 2.5vw; */
    margin: 3px;
    padding: 3px;
    font-style: oblique;
}

h2 {
    font-size: 28px;
    /* font-size: 1.8vw; */
}

table {
    border-collapse: collapse;
    border: 3px solid black;
    overflow: auto;
}

th {
    border: 3px solid black;
    color: white;
    padding: 10px;
}

td {
    border: 3px solid black;
    padding: 15px;
}

td ul {
    padding-bottom: 20px;
}

.strengths {
    background-color: green;
}

.weaknesses {
    background-color: orange ;
}

.opportunities {
    background-color: blue;
}

.threats {
    background-color: red;
}

.internal {
    background-color: blueviolet;
}

.external {
    background-color: teal;
}

/* Beginning of styles for Footer Component */
.row-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 1rem;
}
.container {
    background-color: blanchedalmond;
    border: 3px solid black;
   
    
}
 
footer img {
   
     max-width: 3rem;
     padding: .15rem;
} 

.footer-socialbuttons {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
align-content: center;
}

.footer-text {
  display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
align-content: center;
}

.footer-directions {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    background-color: limegreen;
    padding: 1rem;
    margin: 1rem ;
    }

@media screen and (max-width: 576px){
.row-footer {
  display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
} 
}
/* End of Styles for Footer Component */