
/* Service Banner */

img {
    max-width: 100%; 
}

.service-banner-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #F1E8B8;
    padding: 50px;
}

.service-banner-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1 1 70%;
}

.service-banner-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex: 1 1 30%;
}
.service-banner-title {

}

.service-banner-description {

}

.service-banner-button {
    width: 130px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: #191919;
    border: 2px solid #191919;
    border-radius: 8px;
}

.service-banner-button:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px){
    .service-banner-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }

    .service-banner-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        order: 1;
        flex: 0 0 100%;
    }

    .service-banner-img {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
    
    .service-banner-title {

    }
    
    .service-banner-description {
    
    }
    
    .service-banner-button {
        
    }
  }
  /* End of Service Banner */ 